@model mvcNestify.Models.Agent

@{
    ViewData["Title"] = "Delete";
}

<style>
    @@media(min-width: 1205px) {
        .grid-container {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            display: grid;
            justify-items: center;
            gap: 0%;
        }

        .grid-item-1 {
            border-bottom: black dashed 1px;
        }

        .grid-item-2 {
            grid-row: 2;
            grid-column: 1;
            width: 100%;
            border-bottom: black dashed 1px;
        }

        .grid-item-3 {
            grid-row: 3;
            grid-column: 1;
            width: 100%;
        }
    }
</style>


<h1 class="form-h1">Delete Agent: @Html.DisplayFor(model => model.FullName)</h1>
<h3 style="margin-bottom: 2%;">Are you sure you wish to delete this agent?</h3>
<div class="grid-container">
    <div class="grid-item-1">
        <h4>Personal Information:</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AgentSIN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AgentSIN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
        </dl>
    </div>
    <div class="grid-item-2">
        <h4>Contact Information:</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HomePhone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HomePhone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CellPhone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CellPhone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OfficePhone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OfficePhone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OfficeEmail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OfficeEmail)
            </dd>
        </dl>
    </div>
    <div class="grid-item-3">
        <h4>Employment Information:</h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AuthorizationLevel)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AuthorizationLevel)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatorID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatorID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsVerified)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsVerified)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfEmployment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfEmployment)
            </dd>
        </dl>
    </div>
</div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AgentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
