@model IEnumerable<mvcNestify.Models.Agent>

@{
    ViewData["Title"] = "Agents - Index";
}

<h1>View Agents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"> @Html.DisplayFor(modelItem => item.FullName)</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeEmail)
            </th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeEmail)
            </td>
                <td>
                    @foreach (var image in item.Images.Where(i => i.Validated == true).ToList())
                    {
                        <img src="~/Uploads/TempFiles/@image.Name" alt="@image.AltText" height="50px">
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AgentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AgentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AgentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
