@model IEnumerable<mvcNestify.Models.Agent>

@{
    ViewData["Title"] = "Agents - Index";
}
<style>
    body {
        background-image: url('/assets/photo-1582407947304-fd86f028f716.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    @@media(min-width: 1205px) {
        .grid-container {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, auto);
        }
    }

    .grid-container{
        display: grid;
        justify-content: center;
    }

    .card {
        background-color: rgba(255,255,255,0.7);
    }

        .card:hover, .btn:hover {
            background-color: #E0E1A1;
        }

    .agentLink {
        color: black;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }
</style>

<h1>View Agents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0 ml-4">
                <div class="col-md-4">
                    <img src=" /assets/NoImageFound.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.FullName)</h5>
                        <ul>
                            <li><b>@Html.DisplayNameFor(model => model.OfficeEmail):</b> @Html.DisplayFor(modelItem => item.OfficeEmail)</li>
                            <li><b>@Html.DisplayNameFor(model => model.OfficePhone):</b> @Html.DisplayFor(modelItem => item.OfficePhone)</li>
                            <li><b>@Html.DisplayNameFor(model => model.DateOfBirth):</b> @Html.DisplayFor(modelItem => item.DateOfEmployment)</li>
                            <li><b>Active Listings:</b> @item.Contract.Count()</li>
                        </ul>
                        <a asp-action="Edit" class="agentLink" asp-route-id="@item.AgentID">Edit</a> |
                        <a asp-action="Details" class="agentLink" asp-route-id="@item.AgentID">Details</a> |
                        <a asp-action="Delete" class="agentLink" asp-route-id="@item.AgentID">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>




<!--
    The code for your image:
@* @foreach (var image in item.Images.Where(i => i.Validated == true).ToList())
{
                     <img src="~/Uploads/TempFiles/@image.Name" alt="@image.AltText" height="50px"> *@
}

-->
