@model mvcNestify.Models.Showing

@{
    ViewData["Title"] = "Delete";
}
<style>
    ul {
        list-style: none;
    }

    .card {
        margin: 0 auto;
    }
</style>
<h1 class="form-h1">Delete Showing:</h1>


<div class="card" style="width: 100%;">
    <div class="card-body" style="text-align:left;">
        <h5 class="card-title">Are you sure you want to delete the showing?</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="border-bottom: 1px solid black;">Showing for:: @Html.DisplayFor(model => model.Listing.Address), @Html.DisplayFor(model => model.Listing.Address)</h6>
        <ul>
            <li><b>@Html.DisplayNameFor(model => model.Customer): </b>@Html.DisplayFor(model => model.Customer.FullName)</li>
            <li><b>@Html.DisplayNameFor(model => model.Agent):</b> @Html.DisplayFor(item => item.Agent.FullName)</li>
            <li><b>@Html.DisplayNameFor(model => model.Date):</b> @Html.DisplayFor(item => item.Date)</li>
            <li><b>@Html.DisplayNameFor(model => model.StartTime):</b> @Html.DisplayFor(item => item.StartTime)</li>
            <li><b>@Html.DisplayNameFor(model => model.EndTime): </b>@Html.DisplayFor(model => model.EndTime)</li>
        </ul>
        <div class="card-text">@Html.DisplayFor(model => model.Comments)</div>
    </div>
</div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerID" />
        <input type="hidden" asp-for="ListingID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

