@model IEnumerable<mvcNestify.Models.Showing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Listing.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { CustomerID = item.CustomerID, ListingID = item.ListingID }) |
                    @Html.ActionLink("Details", "Details", new { CustomerID = item.CustomerID, ListingID = item.ListingID  }) |
                    @Html.ActionLink("Delete", "Delete", new { CustomerID = item.CustomerID, ListingID = item.ListingID  })
                </td>
            </tr>
        }
    </tbody>
</table>