@model IEnumerable<mvcNestify.Models.Showing>

@{
    ViewData["Title"] = "Index";
}
<style>
    @@media(min-width: 1205px) {
        .grid-container {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, auto);
        }
    }

    .grid-container {
        display: grid;
        justify-content: center;
    }

    .link {
        color: black;
        text-decoration: none;
    }

    ul {
        list-style: none;
    }
</style>

<h1>Scheduled Showings:</h1>
<a asp-action="Create">Create New</a>
<form asp-action="Index" method="get">

    <div class="form-actions no-color">
        <p>
            Search For Customer: <input type="text" class="form-control-sm" name="searchCriteria" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <span class="text-danger">@ViewBag.NoShowing</span>
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div class="grid-container">
    @foreach (var item in Model)
    {
        <div class="card mb-3" style="width:100%; border: dotted black 1px;">
            <div class="card-body">
                <ul>
                    <li><b>@Html.DisplayNameFor(model => model.Customer):</b> @Html.DisplayFor(modelItem => item.Customer.FullName)</li>
                    <li><b>@Html.DisplayNameFor(model => model.Listing):</b> @Html.DisplayFor(modelItem => item.Listing.Address)</li>
                    <li><b>@Html.DisplayNameFor(model => model.Date):</b> @Html.DisplayFor(modelItem => item.Date)</li>
                    <li><b>@Html.DisplayNameFor(model => model.StartTime):</b> @Html.DisplayFor(modelItem => item.StartTime)</li>
                    <li><b>@Html.DisplayNameFor(model => model.EndTime):</b> @Html.DisplayFor(modelItem => item.EndTime)</li>
                    <li><b>@Html.DisplayNameFor(model => model.Agent):</b> @Html.DisplayFor(modelItem => item.Agent.FullName)</li>
                    <li><b>@Html.DisplayNameFor(model => model.Comments):</b> @Html.DisplayFor(modelItem => item.Comments)</li>
                </ul>
                @Html.ActionLink("Edit", "Edit", new { customerID = item.CustomerID, listingID = item.ListingID }) |
                @Html.ActionLink("Details", "Details", new {customerID = item.CustomerID, listingID = item.ListingID }) |
                @Html.ActionLink("Delete", "Delete", new {customerID = item.CustomerID, ListingID = item.ListingID })
            </div>
        </div>
    }
</div>