@model IEnumerable<mvcNestify.Models.Customer>

@{
    ViewData["Title"] = "Customer - Index";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create" style="font-weight:bolder; color: white;">Create New Customer</a>
</p>
<form asp-action="Index" method="get">

    <div class="form-actions no-color">
        <p>
            Search For Customer: <input type="text" class="form-control-sm" name="searchCriteria" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <span class="text-danger">@ViewBag.NoCustomer</span>
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div id="wrapper" class="grid-container">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem; background-color: #ABDAFC">
            <div class="card-body">
                <p style="font-weight: bold;" class="card-text">@Html.DisplayFor(modelItem => item.FullName)</p>
                <p>
                    @Html.DisplayFor(modelItem => item.StreetAddress), @Html.DisplayFor(modelItem => item.Municipality), 
                @Html.DisplayFor(modelItem => item.Province)
                @Html.DisplayFor(modelItem => item.PostalCode)</p>
                <p>@Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                <p>@Html.DisplayFor(modelItem => item.Email)</p>
                <p>
                    <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                    <a asp-controller="Listings" asp-action="Select" asp-route-id="@item.CustomerID">Select</a> |
                    <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
                </p>
            </div>
        </div>
    }
</div>



@* <h1>Customer - Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">

    <div class="form-actions no-color">
        <p>
            Search For Customer: <input type="text" class="form-control-sm" name="searchCriteria" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <span class="text-danger">@ViewBag.NoCustomer</span>
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerID">Edit</a> |
                <a asp-controller="Listings" asp-action="Select" asp-route-id="@item.CustomerID">Select</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
