@model IEnumerable<mvcNestify.Models.Image>

@{
    ViewData["Title"] = "Image - Index";
}
<style>
    body {
        background-image: url("/assets/image_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    h1,p {
        text-align: center;
    }
    h1{
        color: white;
    }

    .link {
        color: black;
        text-decoration: none;
    }

    @@media(min-width: 1205px) {
        .grid-container {
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, auto);
        }
    }

    .grid-container {
        display: grid;
        justify-content: center;
    }

    .card {
        background-color: #ABDAFC;
    }
</style>

<h1>Image List</h1>

<p>
    <a asp-action="Create" style="font-weight:bolder; color: white;">Upload New Image</a>
</p>
<div id="wrapper" class="grid-container">
    @foreach (var item in Model)
    {
        List<Microsoft.AspNetCore.Identity.IdentityUser> staff = ViewBag.Staff;
        string? name = staff.First(s => s.Id == item.StaffID).Email ?? "";
        <div class="card" style="width: 18rem;">
            <img src="~/Uploads/TempFiles/@item.Name" alt="@item.AltText">
            <div class="card-body">
                <p style="font-weight: bold;" class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <p>Uploaded On: @Html.DisplayFor(modelItem => item.UploadDateTime)</p>
                <p>Uploaded By: @name</p>
                @if (item.Validated)
                {
                    <p>Verified: <b style="color: green;">Yes</b></p>
                    <p>Verified By: @item.VerifiedBy</p>
                }
                else
                {
                    <p>Verified: <b style="color: red;">No</b></p>
                }
                <p>
                    <a asp-action="Edit" asp-route-id="@item.ImageID" class="link">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ImageID" class="link">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ImageID" class="link">Delete</a>
                </p>
            </div>
        </div>
    }
</div>


@* <table class="table">
    <thead>
        <tr>
            <th>
                Image Preview
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDateTime)
            </th>
            <th>
                Verified
            </th>
            <th>
                Uploaded By
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            List<Microsoft.AspNetCore.Identity.IdentityUser> staff = ViewBag.Staff;
            var name = staff.First(s => s.Id == item.StaffID).Email;
            <tr>
            <td>
                <img src="~/Uploads/TempFiles/@item.Name" alt="@item.AltText">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validated)
            </td>
            <td>
                @name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImageID" class="link">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ImageID" class="link">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ImageID" class="link">Delete</a>
            </td>
           
        </tr>
}
    </tbody>
</table> *@
