@model mvcNestify.Models.AgentListingViewModel

@{
    ViewData["Title"] = "CustDetails";
}

<h1>@Html.DisplayFor(l => l.Address)</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Municipality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Municipality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Footage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Footage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfBaths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfBaths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfStories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfStories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfHeating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfHeating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialFeatures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialFeatures)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AgentFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgentFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficePhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ListingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
