@model mvcNestify.Models.Listing

@{
    ViewData["Title"] = "Delete";
}
<style>
    ul {
        list-style: none;
    }
    .card{
        margin:0 auto;
    }
</style>

<h1 class="form-h1">Delete Listing: @Html.DisplayFor(model => model.Address) </h1>

<span asp-validation-for="Showing" class="text-danger"></span>
<span asp-validation-for="Contract" class="text-danger"></span>

<div class="card" style="width: 100%;">
    <div class="card-body" style="text-align:left;">
        <h5 class="card-title">Are you sure you want to delete this listing?</h5>
        <h6 class="card-subtitle mb-2 text-muted">Located in: @Html.DisplayFor(model => model.CityLocation), @Html.DisplayFor(model => model.Municipality)</h6>
        <p>Property Details:</p>
        <ul>
            <li><b>@Html.DisplayNameFor(model => model.Footage): </b>@Html.DisplayFor(model => model.Footage)</li>
            <li><b>@Html.DisplayNameFor(model => model.NumOfBaths):</b> @Html.DisplayFor(item => item.NumOfBaths)</li>
            <li><b>@Html.DisplayNameFor(model => model.NumOfRooms):</b> @Html.DisplayFor(item => item.NumOfRooms)</li>
            <li><b>@Html.DisplayNameFor(model => model.NumOfStories):</b> @Html.DisplayFor(item => item.NumOfStories)</li>
            <li><b>@Html.DisplayNameFor(model => model.TypeOfHeating): </b>@Html.DisplayFor(model => model.TypeOfHeating)</li>
            <li><b>@Html.DisplayNameFor(model => model.Features): </b>@Html.DisplayFor(model => model.Features)</li>
            <li><b>@Html.DisplayNameFor(model => model.SpecialFeatures): </b>@Html.DisplayFor(model => model.SpecialFeatures)</li>
            <li><b>@Html.DisplayNameFor(model => model.Customer): </b>@Html.DisplayFor(model => model.Customer.FullName)</li>
            <li><b>@Html.DisplayNameFor(model => model.ContractSigned): </b>@Html.DisplayFor(model => model.ContractSigned)</li>

        </ul>
    </div>
</div>


<form asp-action="Delete">
    <input type="hidden" asp-for="ListingID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
