@model IEnumerable<mvcNestify.Models.Listing>

@{
    ViewData["Title"] = "Listings - Index";
}

<h1>Listings - Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Footage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfBaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfStories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Features)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialFeatures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Footage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfBaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfRooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfStories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Features)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialFeatures)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesPrice)
                </td>
                <td>
                    <a asp-action="CustDetails" asp-route-id="@item.ListingID">View Listing</a>
                </td>
            </tr>
        }
    </tbody>
</table>
