@model IEnumerable<mvcNestify.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h1>View Listings</h1>
<div>
    <a asp-controller="Showings" asp-action="Index">View Showings</a> 
</div>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfBaths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfStories)
            </th>
            <th>
                Images
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {       
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfBaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfStories)
            </td>
            <td>
                    @foreach (var image in item.Images.Where(i => i.Validated && i.IsVisible).ToList())
                    {
                        <img src="~/Uploads/TempFiles/@image.Name" alt="@image.AltText" height="50px">
                    }
            </td>
            <td>
                <a asp-action="CustDetails" asp-route-id="@item.ListingID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>