@model IEnumerable<mvcNestify.Models.ContractViewModel>

@{
    ViewData["Title"] = "Select";
}

<h1>Selected Customer: @ViewData["CustomerName"]</h1>

<div>
    <a asp-action="Create" asp-route-id=@TempData["CustomerID"]>Create New Listing</a>|
    <a asp-controller="Customers" asp-action="Index">Back to Customers</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ListingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ListingID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ListingID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ListingID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <span class="text-success">@ViewBag.ListingSaved</span>
</table>
